*.crf
*.o
*.d
*.htm
*.axf
*.lnp
*.dep
*.sct
*.hex
/Obj
*.uvguix.*

曾经有一份真挚的爱情摆在我面前，我没有珍惜，等到失去的时候才追悔莫及。如果上天再给我重来的一次机会，我会在第一次见到那个女孩时就说三个字，我爱你，如果非要加上一个期限，我希望是，一万年。
分开的这一年，我反复的问自己，为什么总是不快乐，为什么总听伤心的歌，现在我终于想起来了，因为你。我跑了太久，却忘了自己当初为什么要奔跑，我明白很多道理，却还是要等到失去时才懂得珍惜。
现在我在小南天主教堂的门口，两年前的今天，我跟你说今年不来，明年可能就来不了了。我撒过很谎，食言了很多承诺，但唯独这句话被我说中了。张辉华，今年我来了，明年我们一起来吧。你回来吧，张辉华。

